[Unit]
Description=clash sub service
#After=network.target

[Service]
#Type=forking
#PIDFile=
#ExecStart=
#ExecStop=

#Type=oneshot
#RemainAfterExit=yes
#ExecStart=
#ExecStop=

Type=simple
#ExecStartPre=
ExecStart=<START>
#ExecStartPost=

#ExecStop=
#ExecStopPost=

#User=USER
WorkingDirectory=<PWD>
#Restart=always
#Environment=
[Install]
WantedBy=multi-user.target
